body {
       background-color: #d3e8fd;
}

.container text-center {
       background-color: #d3e8fd;
       padding-bottom: 20px;
       margin-bottom: 10px;
}

section {
       padding: 20px;
}